* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: #f8f9fa
}

header,
nav {
    background: #FFF9F4;
}

nav img {
    width: 40%;
}

.banner h1 {
    color: #FA804C;
    font-weight: 400;
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
}

.banner h1 span {
    display: block;
    color: #363958;
}

.bottom {
    background: #3643C0;
    color: #ffffff;
    padding: 12px 20px;
}

.bottom:hover {
    color: #ffffffbb;
}